.language-dropdown {
    position: absolute;
    top: 79px;
    left: 453px;
    background: radial-gradient(100% 100% at 0% 0%, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.263) 100%);
    border-radius: 7px;
    padding: 8px;
}

.language-dropdown div {
    cursor: pointer;
    padding: 5px;
}


